<ion-header>
  <ion-toolbar>
    <ion-title>
      Weather for Luxembourg
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item class="ion-margin ion-padding">
    <ion-label>Select City</ion-label>
    <ion-select [(ngModel)]="currentCity" okText="Okay" cancelText="Dismiss" (ionChange)="selected()">
      <ion-select-option *ngFor="let city of cities" value="{{city}}">{{city}}</ion-select-option>

    </ion-select>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col size="8" offset="2">
        <ion-card [hidden]="!service.data" class="ion-margin" class="ion-text-center">

          <ion-card-header class="ion-margin" class="ion-text-center">
            <ion-card-subtitle class="ion-text-center">City</ion-card-subtitle>
            <ion-card-title class="ion-text-center"> {{  service.data?.name}} | {{service.data?.sys.country}}
            </ion-card-title>

            <ion-row  class="ion-justify-content-center">
              <ion-col  class="ion-align-self-center" col="6" >
                <ion-img width="80" height="80" class=" ion-margin ion-text-center img-weather"
                  src="{{ getImagesrc(service.data)}}"></ion-img>

              </ion-col>
            </ion-row>
          </ion-card-header>

          <ion-card-content class="ion-text-center" class="ion-margin">
            <p>
              Humnidty: {{service.data?.main.humidity}}
            </p>
            <p>
              Temp: {{ roundUp(service.data?.main.temp)}} &deg;C | Temp-min: {{ roundDown(service.data?.main.temp_min)}}
              &deg;C | Temp-max: {{roundUp(service.data?.main.temp_max)}} &deg;C
            </p>

          </ion-card-content>

          <ion-button [hidden]=" hiddenButtonAction" (click)="addTo()"> Add To Favorites </ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>